.landing-container
    .top-bar
        .logo
            a(href='#')
                img(src='images/aqlue-logo.png', width='120', alt='', data-pin-nopin='true')
        .login
            a.login-btn(href='https://app.aqlue.com/login') #{lang.log_in}
    .landing-bg
    section.promo-block
        header.promo-block-hd
            h1.title
                b #{lang.title}
                br
                | #{lang.subtitle}
            p
                | #{lang.desc_1}
                br
                b
                    | #{lang.desc_2}
        .signup-container
            .signup-form-lbl
                i #{lang.know_more}
                b #{lang.apply_now}
            .signup-form-caption
                #mc_embed_signup
                    form#mc-embedded-subscribe-form.validate(action='//Resultify.us12.list-manage.com/subscribe/post?u=99582d88dc66a4a855e6ba343&id=18670ceb63', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate', _lpchecked='1')
                        #mc_embed_signup_scroll
                            .mc-field-group(style='display: inline;')
                                input#mce-EMAIL.required.email.mce_inline_error(type='email', value='', name='EMAIL', aria-required='true', aria-invalid='true', placeholder='Your email')
                                .mce_inline_error(style='display: none;', for='mce-EMAIL') This field is required.
                            //.mc-field-group.mc-field-group-ref
                                input#mce-MMERGE3.ref(type='text', value='', name='MMERGE3', placeholder='Reference')
                                label(for='mce-MMERGE3') Did some one refer you to us?:
                            input#mc-embedded-subscribe.button(type='submit', value='Sign up for free', name='subscribe')
                            .mc-field-group.input-group(style='display:none')
                                ul
                                    li
                                        input(type='radio', value='1', name='group[425]', id='mce-group[425]-425-0', checked='')
                                        label(for='mce-group[425]-425-0') Swedish
                                    li
                                        input(type='radio', value='2', name='group[425]', id='mce-group[425]-425-1')
                                        label(for='mce-group[425]-425-1') English
                            #mce-responses
                                #mce-error-response.response(style='display:none')
                                #mce-success-response.response(style='display:none')
                                //
                                  <div id="mce-responses" class="">
                                  <div class="response" id="mce-error-response" style="display:none"></div>
                                  <div class="response" id="mce-success-response" style="">Almost finished... We need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.</div>
                                  </div>
                            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                            div(style='position: absolute; left: -5000px;')
                                input(type='text', name='b_99582d88dc66a4a855e6ba343_18670ceb63', tabindex='-1', value='')
                script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                script(type='text/javascript').
                    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
                script.
                    $mcj.extend($mcj.validator.messages, {
                        required: "Detta f&auml;lt &auml;r obligatoriskt.",
                        maxlength: $mcj.validator.format("Du f&aring;r ange h&ouml;gst {0} tecken."),
                        minlength: $mcj.validator.format("Du m&aring;ste ange minst {0} tecken."),
                        rangelength: $mcj.validator.format("Ange minst {0} och max {1} tecken."),
                        email: "Ange en korrekt e-postadress.",
                        url: "Ange en korrekt URL.",
                        date: "Ange ett korrekt datum.",
                        dateISO: "Ange ett korrekt datum (&Aring;&Aring;&Aring;&Aring;-MM-DD).",
                        number: "Ange ett korrekt nummer.",
                        digits: "Ange endast siffror.",
                        equalTo: "Ange samma v&auml;rde igen.",
                        range: $mcj.validator.format("Ange ett v&auml;rde mellan {0} och {1}."),
                        max: $mcj.validator.format("Ange ett v&auml;rde som &auml;r mindre eller lika med {0}."),
                        min: $mcj.validator.format("Ange ett v&auml;rde som &auml;r st&ouml;rre eller lika med {0}."),
                        creditcard: "Ange ett korrekt kreditkortsnummer."
                    });