extends layouts/_default
block vars
    -
        var lang = se
        page = {
        name: 'main-page',
        title: 'Välkommen till aQlue',
        description: 'aQlue'
        }

block main
    include pages/index/_main