extends layouts/_default
block vars
    -
        var lang = en
        page = {
            language: 'en',
            name: 'main-page',
            title: 'Välkommen till aQlue',
            appTitle: 'aQlue',
            description: 'aQlue'
        }

block main
    include pages/index/_main