footer.footer
    .footer-top
        .footer-top-section
            .footer-top-section-ico._ico-curr
                i
            .footer-top-section-text
                h4 #{lang.footer_text_0_title}
                p
                    | #{lang.footer_text_0_text}
        .footer-top-section
            .footer-top-section-ico._ico-ballance
                i
            .footer-top-section-text
                h4 #{lang.footer_text_1_title}
                p
                    | #{lang.footer_text_1_text}
        .footer-top-section
            .footer-top-section-ico._ico-users
                i
            .footer-top-section-text
                h4 #{lang.footer_text_2_title}
                p
                    | #{lang.footer_text_2_text}
        .footer-top-section
            .footer-top-section-ico._ico-graph
                i
            .footer-top-section-text
                h4 #{lang.footer_text_3_title}
                p
                    | #{lang.footer_text_3_text}
    .footer-middle
        .footer-sharing
            span.footer-sharing-lbl
                b #{lang.wow}
                |  #{lang.share_with}
            a.footer-sharing-item._mail(href='#')
                | #{lang.share_via}
                i.footer-sharing-ico
            a.footer-sharing-item._fb(href='#')
                | #{lang.share_on}
                i.footer-sharing-ico
            a.twitter-share-button.footer-sharing-item._twi(href='https://twitter.com/intent/tweet?text=Hello%20world')
                | #{lang.share_on}
                i.footer-sharing-ico
        script.
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '421411088032126',
                    xfbml: true,
                    version: 'v2.5'
                });
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script.
            var texts_json = '["Resultify Insights - Something for us?","Hi,%0D%0AJust stumbled upon this tool that could help us measure the result of our marketing efforts. It looks interesting. Should I reach out too them?","I just stumbled upon Resultify Insights, a tool that measure the ROI of your marketing. You should check it out:"]';
            $(document).ready(function () {
                var texts_obj = JSON.parse(texts_json.replace(/&quot;/g, '"'));
                $('.footer-sharing-item').on('click', function (e) {
                    if ($(this).hasClass('_mail')) {
                        $(this).attr('href', 'mailto:?subject=' + texts_obj[0] + '&body=' + texts_obj[1]);
                    }
                    if ($(this).hasClass('_fb')) {
                        var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u=" + $('[property="og:url"]').attr('content'), "pop", "width=600, height=400, scrollbars=no");
                        return false;
                        e.preventDefault();
                        var obj = {
                            display: 'popup',
                            method: 'feed',
                            link: $('[property="og:url"]').attr('content'),
                            name: $('[property="og:title"]').attr('content'),
                            caption: $('[property="og:title"]').attr('content'),
                            description: $('[property="og:description"]').attr('content'),
                            picture: $('[property="og:image" ]').attr('content')
                        };

                        function callback(response) {
                        }

                        FB.ui(obj, callback);
                    }
                    if ($(this).hasClass('_twi')) {
                        e.preventDefault();
                        var width = 575,
                            height = 400,
                            left = ($(window).width() - width) / 2,
                            top = ($(window).height() - height) / 2,
                            url = 'https://twitter.com/intent/tweet?text=' + texts_obj[2] + " " + location.href,
                            opts = 'status=1' +
                                ',width=' + width +
                                ',height=' + height +
                                ',top=' + top +
                                ',left=' + left;
                        window.open(url, 'twitter', opts);
                    }
                });
            });
    .footer-partners
        a.footer-partners__item._corerel(href='http://www.corerelations.com/')
            img(src='images/logo-partner-corerelations.svg', alt='Core Relations')
        a.footer-partners__item._resultify(href='http://www.resultify.se/')
            img(src='images/logo-partner-resultify.svg', alt='Resultify')
    .footer-bottom
        .lang-menu
            span.lang-menu-lbl #{lang.lang}
            a.lang-menu-item(href='#')
                i.lang-menu-item-ico._se
            a.lang-menu-item(href='#')
                i.lang-menu-item-ico._en
        .footer-contacts
            | #{lang.company_contact}  |  #{lang.company_contact_mail}  |  #{lang.company_contact_phone}
        .footer-logo
            i.footer-logo-ico
            a(href='#') #{lang.company}
