meta(charset='UTF-8')
title #{lang.html_title}
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui')
link(href='https://fonts.googleapis.com/css?family=Archivo+Narrow:700,400|Didact+Gothic|Open+Sans:400,600,700', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='fonts/style.css')
link(rel='stylesheet', href='landing.css')
link(rel="icon", type="image/x-icon", href="/favicon.ico")
meta(name='mobile-web-app-capable', content='yes')
link(rel='icon', type='image/png', href='/favicon-196x196.png', sizes='196x196')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
meta(name='format-detection', content='telephone=no')
script(src='//code.jquery.com/jquery-1.11.0.min.js')
meta(name='robots', content='index,follow')
link(rel='canonical', href='https://qa.aqlue.com/en')
link(rel='alternate', hreflang='en', href='https://qa.aqlue.com/en')
link(rel='alternate', hreflang='se', href='https://qa.aqlue.com/')
meta(property='og:type', content='website')
meta(property='og:title', content='Resultify Insights - Measure the result of your marketing')
meta(property='og:description', content='Resultify Insights measure the impact of your marketing activities in all channels. It gives you the insight you need to optimize your budget for the best result.\
')
meta(property='og:image', content='https://qa.aqlue.com/_Resources/Persistent/ffda494df7a53cd98f06950ac3f0a83c658a6a6c/landing-cover-2000x1239.jpg')
meta(property='og:url', content='https://qa.aqlue.com/en')
