//GA
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-80265447-1', 'auto');
  ga('send', 'pageview');

//Mailchimp:
script(type='text/javascript').
    var form = document.getElementById('mc-embedded-subscribe-form');
    // Adds a listener for the "submit" event.
    form.addEventListener('submit', function(event) {
        // Prevents the browser from submiting the form
        // and thus unloading the current page.
        // Sends the event to Google Analytics and
        // resubmits the form once the hit is done.
        if($('#mc-embedded-subscribe-form').find('input.mce_inline_error').length == 0){
            $('.signup-form-lbl').hide();
            $('#mc_embed_signup_scroll .mc-field-group').hide();
            $('#mc_embed_signup_scroll .button').hide();
            ga('send', 'event', 'lead', 'sign-up','mail', {
                hitCallback: function() {
                }
            });
        }
    });
    var clickUrl = '';
    function redirectClient() {
        window.location.href = clickUrl;
    }
    function callGAnalytics(e, el, hasTimeout) {
        if (hasTimeout) {
            // Prevent browser redirect
            e.preventDefault();
        }
        // Get click from link
        clickUrl = jQuery(el).attr('href');
        var shareClass = e.currentTarget.className;
        var base_url= e.currentTarget.baseURI;
        if(clickUrl==base_url+"standard/selectlocale?locale=en"){
            ga('send', 'event', 'language', 'change-to','english');
        }else if(clickUrl==base_url+"standard/selectlocale?locale=se"){
            ga('send', 'event', 'language', 'change-to','swedish');
        }else if(shareClass=='footer-sharing-item _twi'){
            ga('send', 'event', 'social', 'share','twitter');
        }else if(shareClass=='footer-sharing-item _fb fb_share'){
            ga('send', 'event', 'social', 'share','facebook');
        }
        // Do Google Analytics calls
        // Downloads
        if (clickUrl.match("mailto:")) {
            ga('send', 'event', 'social', 'share','mail');
        }
        if (hasTimeout) {
            // Do browser redirect after 100 ms
            setTimeout('redirectClient()', 100);
        }
    }
    $(window).load(function () {
        if (window.jQuery) {
            // For all clicks on <a> without _blank
            jQuery('a[target!=_blank]').click(function (e) {
                callGAnalytics(e, this,true);
            });
            // For all clicks on <a target='_blank'>
            jQuery('a[target=_blank]').click(function (e) {
                callGAnalytics(e, this);
            });
        }
    });
    $(document).ready(function(){
        $("#mce-success-response").bind('DOMSubtreeModified', function() {
            $(this).html(response_text);
            $('.signup-form-lbl').hide();
        });
    });
