//General Layout styles
body{
  font-family: "Noto Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: #102335;
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}
.landing-container{
  color: #fff;
}

//Push Footer Down.
html, body {
  height: 100%;
  min-height: 750px;
}
.landing-container {
  min-height: 92%;
  height: 92%;
  /* equal to footer height */
}
.landing-container:after {
  content: "";
  display: block;
}
.footer{}
.landing-container:after{
  //height: 180px;
}
//Landing Page
.landing-container{
  position: relative;
  display: table;
  width: 100%;
  .top-bar{
    padding: 30px 40px 0;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    .logo{
      //width: 200px;
      width: 150px;
      float: left;
      img{
        width: 100%;
        display: block;
        position: relative;
        z-index: 100;
      }
      &:before{
        content: '';
        position: absolute;
        width: 500px;
        height: 300px;
        top: 0;
        left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+80&amp;1+0,0+80,0+86 */
        background: radial-gradient(ellipse at 0 0,  rgba(255,255,255,.75) 15%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        //border: 1px solid red;
      }
    }
    .login{
      float: right;
      .login-btn{
        padding: 10px 15px;
        position: relative;
        top: 15px;
        text-transform: uppercase;
        background-color: #7b9aae;
        border: 1px solid #fff;
        color: #fff;
        font-size: 14px;
        opacity: .7;
        &:hover{
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }
  .landing-bg{
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    &:before{
      content: '';
      display: table;
      height: 100%;
      width: 100%;
      background-image: url('images/landing-cover.jpg');
      background-position: top center;
      background-size: cover;
    }
    &:after{
      content: '';
      height: 65%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&amp;0+0,0.8+100 */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
    }
  }
  .promo-block{
    margin: 0;
    padding: 0 20px 8%;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: bottom;

    .promo-block-hd{
      text-shadow: 0 0 1px rgba(0,0,0,.35);
      line-height: 1;
      > .title{
        margin: 0 0 40px 0;
        padding: 0;
        font-family: 'intro_condlight_free';
        font-weight: normal;
        text-transform: uppercase;
        font-size: 100px;
        word-spacing: .125em;
        letter-spacing: .075em;
        b{
          font-family: 'intro_condblack_free';
          font-weight: normal;
          font-size: 140px;
        }
      }
      p{
        margin: 20px 0 50px;
        padding: 0;
        font-size: 32px;
        line-height: 1.5;
        b{
          font-weight: normal;
        }

      }
    }
  }
  .signup-container{
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, .35);
    box-sizing: border-box;
    //max-width: 840px;
    max-width: 1040px;

    .signup-form-lbl{
      //padding-top: 11px;
      float: left;
      width: 250px;
      text-align: left;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      > i{
        display: block;
        font-style: normal;
      }
      > b{
        display: block;
        font-style: normal;
        color: #ee9611;
        font-size: 16px;
      }
    }
    .signup-form-caption{
      margin-left: 260px;
      padding-right: 200px;
      position: relative;
      text-align: right;
      //border: 1px solid red;

      .email{
        box-sizing: border-box;
        border-radius: 2px;
        border: none;
        padding: 10px;
        display: block;
        width: 100%;
        color: #0a101b;
      }

      .button{
        border: none;
        border-radius: 2px;
        display: block;
        width: 180px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #f19509;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
      }
      div.mce_inline_error{
        position: absolute;
        right: 200px;
        bottom: -2px;
        margin-top: -4px;
        //////
        background: none!important;
        color: #dd4122!important;
        font-size: 12px;
        font-weight: normal;
      }
      #mce-success-response{
        text-align: center;
        font-size: 16px;
      }

      .mc-field-group-ref{
        margin-top: 30px;
        position: absolute;
        top: 100%;

        > label{
          font-size: 12px;
          font-family: "Noto Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
          color: #ee9611;
          //text-transform: uppercase;
          position: absolute;
          right: 100%;
          top: 8px;
          margin-right: 10px;
          white-space: nowrap;
        }
        > .ref{
          font-size: 14px;
          box-sizing: border-box;
          border-radius: 2px;
          //border: none;
          padding: 4px 10px;
          background: rgba(255,255,255,.1);
          color: #ee9611;
          border: 1px solid #ee9611;

        }
      }

    }
  }
}


// Footer
.footer{
  background-color: #102335;
  color: #737373;
  position: relative;
  z-index: 200;

  a{
    color: #737373;
  }
  .footer-top{
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1440px;
    box-sizing: border-box;
    display: table;
    &::after{
      content: '';
      display: block;
      width: 100%;
      clear: both;
    }

    > .footer-top-section{
      padding: 0 0 0 100px;
      box-sizing: border-box;
      display: table-cell;
      vertical-align: middle;
      width: 25%;
      height: 100%;
      //min-height: 115px;
      //float: left;
      position: relative;
      border-left: 1px solid #4e575f;
      &:first-child{
        border-left: 0;
      }
      > .footer-top-section-ico{
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        width: 100px;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        //border: 1px solid blue;
        > i{
          margin: 0 auto;
          display: block;
          position: relative;
          width: 60px;
          height: 60px;
          top: 50%;
          margin-top: -30px;
          //border: 1px solid red;
          background: url("images/footer-ico-pie.png") center;
          background-size: 100% auto;
          background-repeat: no-repeat;
        }

        &._ico-curr{
          >i{
            background-image: url("images/footer-ico-curr.png");
          }
          //
        }
        &._ico-ballance{
          i{
            background-image: url("images/footer-ico-ballance.png");
          }
        }
        &._ico-users{
          i{
            background-image: url("images/footer-ico-users.png");
          }
        }
        &._ico-graph{
          i{
            background-image: url("images/footer-ico-graph.png");
          }
        }
      }
      > .footer-top-section-text{
        margin: 0;
        padding: 0 10px;
        float: right;
        font-size: 12px;
        //border: 1px solid green;
        h4{
          margin: 0 0 5px;
          padding: 0;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
        }
        p{
          margin: 0;
          padding: 0;
          font-size: 13px;
        }
      }
    }

  }
  .footer-middle{
    padding: 20px 0;
    text-align: center;
    background-color: #243545;
    color: #fff;
    .footer-sharing{
      padding: 0 10px;
      display: inline-block;
      .footer-sharing-lbl{
        padding: 0 20px;
        text-transform: uppercase;
        font-size: 18px;
        b{
          color: #f19509;
        }
      }
      .footer-sharing-item{
        padding: 0 55px 0 15px;
        position: relative;
        top: -1px;
        font-size: 13px;
        color: #fff;
        display: inline-block;
        .footer-sharing-ico{
          content: '';
          position: absolute;
          right: 12px;
          top: 50%;
          margin-top: -16px;
          width: 32px;
          height: 32px;
          background-repeat:no-repeat;
          background-position: center;
          background-size: auto 100%;
        }
        &._fb{
          .footer-sharing-ico{
            background-image: url(images/footer-ico-fb.png);
          }
        }
        &._twi{
          .footer-sharing-ico{
            background-image: url(images/footer-ico-twiter.png);
          }
        }
        &._mail{
          .footer-sharing-ico{
            background-image: url(images/footer-ico-mail.png);
          }
        }
      }
    }
  }
  .footer-partners{
    padding: 40px 0 0 0;
    text-align: center;
    .footer-partners__item{
      display: inline-block;
      max-width: 180px;
      height: 45px;
      &._corerel{
        width: 153px;
      }
      &._resultify{
        margin: 0 70px;
        width: 140px;
      }
      &._pixelant{
        width: 142px;
      }
      > img{
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
  .footer-bottom{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    //background-color: #1f242e;
    .lang-menu{
      padding: 0 10px 0 0;
      display: inline-block;
      .lang-menu-item{
        margin: 0 5px;
        text-decoration: none;
        .lang-menu-item-ico{
          display: inline-block;
          width: 18px;
          height: 18px;
          vertical-align: middle;
          background-size: 100%;
          opacity: .7;
          &:hover{
            opacity: 1;
          }
          &._se{
            background: transparent url("images/flag-lang-se.png");
            background-size: 100%;
          }
          &._en{
            background: transparent url("images/flag-lang-en.png");
            background-size: 100%;
          }
        }
      }
    }
    .footer-contacts{
      padding: 0 10px;
      display: inline-block;
      border-left: 1px solid #595c60;
      border-right: 1px solid #595c60;
    }
    .footer-logo{
      padding: 0 10px;
      display: inline-block;
      .footer-logo-ico{
        margin: 0 5px 0 0;
        display: inline-block;
        width: 18px;
        height: 24px;
        vertical-align: middle;
        background: transparent url("images/aqlue_logo_small.png");
        background-size: 100%;
        opacity: .7;
      }
    }
  }
}
