// Mobile. < 480px;
@media(max-width: 480px){
  html,body{
    //border: 1px solid red;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 0;
  }
  .landing-container{
    //padding-bottom: 25px;
    padding-bottom: 40px; //PROMO BLOCK
    display: block;
  }
  .landing-container .top-bar{
    padding: 15px;
    height: auto;
    position: relative;
    z-index: 100;
    background-color: rgba(255, 255, 255, .65);
    &:after{
      content: '';
      display: block;
      width: 100%;
      clear: both;
    }
    .logo{
      width: auto;
      img{
        max-width: 110px;
        margin: 0;
        display: block;
      }
      &:before{
        display: none;
      }

    }
    .login{
      .login-btn{
        top: 4px;
        position: relative;
        padding: 8px;
        display: block;
        font-size: 12px;
      }

    }
  }

  .landing-container .landing-bg{
    //display: none;
    z-index: 10;
    opacity: .8;
    background-image: url('images/landing/landing-cover-sm.jpg');
  }

  .landing-container .promo-block{
    margin: 0;
    padding: 100px 0 0;
    top: auto;
    position: relative;
    display: block;
    z-index: 150;

    .promo-block-hd{
      padding-right: 20px;
      padding-left: 20px;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 1;
    }

    .promo-block-hd > .title{
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 1.5;
      b{
        font-size: 38px;
        line-height: 1;
      }
    }
    .promo-block-hd p{
      margin: 0;
      font-size: 14px;
      b{
        display: none;
      }
    }
  }
  //Sign Up Form;
  .landing-container .signup-container{
    margin: 0 auto 20px;
    max-width: 280px;
    .signup-form-lbl{
      margin: 0 0 15px;
      padding: 0;
      float: none;
      width: auto;
      text-align: center;
      font-size: 1em;
      i{
        font-size: 14px;
        font-weight: normal;
        display: block;
      }

      b, br{
        display: none;
      }

    }
    .signup-form-caption{
      margin: 0;
      padding: 0;
      .email{
        margin: 0 0 15px;
        font-size: 14px;
        text-align: center;
      }
      div.mce_inline_error{
        margin: 0 0 8px;
        position: static;
        text-align: center;
        font-size: 14px;
        line-height: 1.25;
        font-weight: normal!important;
      }
      .button{
        margin: 0 auto;
        padding: 10px;
        position: static;
        display: block;
        font-size: 14px;
        font-weight: normal;
      }

      //REFERENCE FIELD (ALMEDALEN CONF)

      .mc-field-group-ref{
        width: 100%;
        text-align: center;

        > label{
          display: none;
        }
        > .ref{
          text-align: center;
        }
      }
    }
  }

  //Footer
  .footer{
    .footer-top{
      > .footer-top-section:first-child:before{
        display: none;
      }
      > .footer-top-section{
        margin: 0 0 25px;
        padding: 0;
        float: none;
        width: 100%;
        position: relative;
        min-height: 0;
        display: block;
        border: none;

        .footer-top-section-ico{
          margin: 0 auto 10px;
          width: 64px;
          height: 64px;
          position: static;
          > i{
            margin-top: 0;
            position: static;
            top: auto;
          }
        }
        .footer-top-section-text{
          margin: 0 auto;
          padding: 0;
          text-align: center;
          width: auto;
          float: none;
          font-size: .675em;
        }
      }
    }
  }
  .footer .footer-bottom {
    height: auto;
    .lang-menu,
    .footer-contacts,
    .footer-logo,
    .footer-sharing{
      padding: 2px 0;
      float: none;
      clear: both;
      display: block;
      border: none;
    }
  }
  .footer .footer-middle .footer-sharing .footer-sharing-item{
    margin: 25px auto;
    display: block;
    max-width: 120px;
    box-sizing: border-box;
  }
}
@media (max-width: 640px){
  .footer-partners .footer-partners__item {
    margin: 25px auto!important;
    display: block!important;
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .landing-container{
    /*display: block;
    min-height: 0;*/

  }
  .landing-container .top-bar{
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(255,255,255,.7);
  }
  .landing-container .top-bar .logo{}
  .landing-container .top-bar .logo:before{
    display: none;
  }
  .landing-container .top-bar .login{}
  .landing-container .landing-bg{}
  .landing-container .promo-block{
    /*padding-top: 140px;
    display: block;
    top: 0;*/
  }
  .landing-container .promo-block .promo-block-hd{}
  .landing-container .promo-block .promo-block-hd .title{
    margin: 0;
    font-size: 40px;
  }
  .landing-container .promo-block .promo-block-hd .title b{
    font-size: 70px;
  }
  .landing-container .promo-block .promo-block-hd p{
    margin: 20px 0 40px;
    font-size: 24px;
    b{
      display: none;
    }
  }
  .landing-container .signup-container{
    margin: 20px auto 20px;
    max-width: 360px;
  }
  .landing-container .signup-container .signup-form-lbl{
    margin: 0 0 15px;
    float: none;
    width: auto;
    text-align: center;
    font-size: 20px;
  }
  .landing-container .signup-container .signup-form-lbl b,
  .landing-container .signup-container .signup-form-lbl br{
    display: none;
  }
  .landing-container .signup-container .signup-form-caption{
    margin: 0;
    padding: 0;

    //REFERENCE FIELD (ALMEDALEN CONF)

    .mc-field-group-ref{
      width: 100%;
      text-align: center;

      > label{
        display: none;
      }
      > .ref{
        text-align: center;
      }
    }
  }
  .landing-container .signup-container .signup-form-caption .email{
    margin: 0 0 15px;
    font-size: 14px;
    text-align: center;
  }
  .landing-container .signup-container .signup-form-caption div.mce_inline_error{
    margin: 0 0 8px;
    position: static;
    text-align: center;
    font-size: 14px;
    line-height: 1.25;
    font-weight: normal!important;
  }
  .landing-container .signup-container .signup-form-caption .button{
    margin: 0 auto;
    padding: 10px 15px;
    position: static;
    display: block;
    font-size: 16px;
  }
  .footer .footer-top{
    display: block;
  }
  .footer .footer-top > .footer-top-section{
    width: 50%;
    box-sizing: border-box;
    display: block;
    float: left;
    position: relative;
  }
  .footer{
    .footer-top{
      > .footer-top-section:first-child:before{
        display: none;
      }
      > .footer-top-section{
        margin: 0 0 25px;
        padding: 0;
        float: none;
        width: 100%;
        position: relative;
        min-height: 0;
        display: block;
        border: none;

        .footer-top-section-ico{
          margin: 0 auto 10px;
          width: 64px;
          height: 64px;
          position: static;
          > i{
            margin-top: 0;
            position: static;
            top: auto;
          }
        }
        .footer-top-section-text{
          margin: 0 auto;
          padding: 0;
          text-align: center;
          width: auto;
          float: none;
          font-size: .675em;
        }
      }
    }
  }
  .footer .footer-bottom {
    height: auto;
    .lang-menu,
    .footer-contacts,
    .footer-logo,
    .footer-sharing{
      padding: 2px 0;
      float: none;
      clear: both;
      display: block;
      border: none;
    }
  }
  .footer .footer-middle .footer-sharing .footer-sharing-lbl{
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    clear: both;
  }
}
@media (min-width: 769px) and (max-width: 1025px){

  .landing-container .promo-block .promo-block-hd .title{
    margin: 20px 0 30px;
    font-size: 36px;
  }
  .landing-container .promo-block .promo-block-hd .title b{
    font-size: 60px;
  }
  .landing-container .promo-block .promo-block-hd p{
    font-size: 24px;
  }
  /*.landing-container .signup-container{
      margin: 20px auto 20px;
      max-width: 500px;
  }
  .landing-container .signup-container .signup-form-lbl{
      margin: 0 0 15px;
      float: none;
      width: auto;
      text-align: center;
      font-size: 20px;
  }
  .landing-container .signup-container .signup-form-lbl i,b{
  }
  .landing-container .signup-container .signup-form-caption{
      margin: 0;
      padding: 0;
  }
  .landing-container .signup-container .signup-form-caption .email{
      margin: 0 0 15px;
      font-size: 14px;
      text-align: center;
  }
  .landing-container .signup-container .signup-form-caption div.mce_inline_error{
      margin: 0 0 8px;
      position: static;
      text-align: center;
      font-size: 14px;
      line-height: 1.25;
      font-weight: normal!important;
  }
  .landing-container .signup-container .signup-form-caption .button{
      margin: 0 auto;
      padding: 10px 15px;
      position: static;
      display: block;
      font-size: 16px;
  }*/
  .footer .footer-top{
    display: block;
  }
  .footer .footer-top > .footer-top-section{
    margin: 0 0 20px;
    width: 50%;
    display: block;
    float: left;
    border: none;

  }
  .footer .footer-top > .footer-top-section > .footer-top-section-ico{
  }
  .footer .footer-middle .footer-sharing .footer-sharing-lbl{
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    clear: both;
  }
  .footer .footer-bottom {
    height: auto;
    .lang-menu,
    .footer-contacts,
    .footer-logo,
    .footer-sharing{
      padding: 2px 0;
      float: none;
      clear: both;
      display: block;
      border: none;
    }
  }
}
@media (min-width: 1026px) and (max-width: 1440px){
  .landing-container .promo-block .promo-block-hd .title{
    font-size: 60px;
  }
  .landing-container .promo-block .promo-block-hd .title b{
    font-size: 94px;
  }
  .landing-container .promo-block .promo-block-hd p{
    font-size: 28px;
  }
}
@media (min-width: 1441px){}