doctype html
//- Global variables
block vars
//- Template
html
    block head
        include ../partials/_head
    body
        block main
        //Footer
        block footer
            include ../partials/_footer
        block scripts
            include ../partials/_scripts